{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />

    <title>Capston</title>
    <script language="javascript">
      $.ajaxSetup({
        headers: { "X-CSRFToken": "{{csrf_token}}" },
      });

      var msg = new SpeechSynthesisUtterance();
      msg.lang = "ko-KR";
      function ttsTest() {
        msg.rate = 1; // 0.1 ~ 10
        msg.pitch = 1; // 0 ~ 2

        msg.text = "{{answer}}";
        speechSynthesis.speak(msg);
      }
      function setLang(langTxt) {
        msg.lang = langTxt;
      }
    </script>
    <style>
      .input-file-button {
        padding: 6px 25px;
        background-color: #ff6600;
        border-radius: 4px;
        color: white;
        cursor: pointer;
      }
    </style>
  </head>

  <body style="text-align: center">
    <div>
      {% for i in full_name %} {% csrf_token %}
      <img src="{{i.image}}" />
      {% endfor %} {% if answer %} {% csrf_token %}
      <p>{{answer}}</p>
      {% endif %}
    </div>

    <div style="text-align: center">
      <form
        action="{% url 'index' %}"
        method="POST"
        enctype="multipart/form-data"
      >
        {% csrf_token %}
        <label class="input-file-button" for="input-file">업로드</label>

        <input
          type="file"
          id="input-file"
          accept="image/*"
          capture="camera"
          name="images"
          style="display: none"
        />
        <input type="submit" class="input-file-button" value="전송" />
      </form>

      <form
        action="http://127.0.0.1:8000/BraiileImg/1/search/"
        method="get"
        enctype="multipart/form-data"
      >
        <input type="submit" class="input-file-button" value="번역" />
        <button
          class="input-file-button"
          onclick="setLang('en-US'); ttsTest();"
        >
          음성
        </button>
      </form>
    </div>
  </body>
</html>
